<html>
    <body>
        <h1 style="text-align:center;">Credit Card Upgrade: Yes or No</h1>
        <form action="/" method="post">
            <p style="text-align:center;"> <strong>Please enter the number of purchases per month:</strong></p>
            <br>
            <p style="text-align:center;"> <input type="number" name="Purchases"></p>
            <br>
            <p style="text-align:center;"> <strong>Please enter 1 if there is supplementary card, else enter 0</strong></p>
            <p style="text-align:center;"> <input type="number" value="Supplementary card"></p>
            <p style="text-align:center;"> <input type="submit" value="Let's go"></p>
        </form>
        <p style="text-align:center;"> {{result}}</p>
        <p style="text-align:center;"> {{result2}}</p>
        <p style="text-align:center;"> {{result3}}</p>
    </body>
</html>
